<div fxLayout="column">

  <div class="columnItem">
    <!-- <button mat-stroked-button (click)="drawer.toggle()">
      Toggle simulator
    </button> -->
    <mat-slide-toggle bind-checked = "showSimulator" (change)="toggleSimulator()">
      Simulator
    </mat-slide-toggle>
  </div>

  <div class="columnItem" fxLayout="row">
    <!-- <mat-drawer-container class="sidenavContainer" autosize>
      <mat-drawer #drawer class="simulatorSidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button>
      </mat-drawer>

      <div class="sidenavContent">
        <button type="button" mat-button (click)="drawer.toggle()">
          Toggle sidenav
        </button>
      </div>
      
    </mat-drawer-container> -->
    
    <div [ngClass]="{'expandedSimulator': showSimulator == true, 'hiddenSimulator':showSimulator == false }">
        <ai-search-simulator></ai-search-simulator>
    </div>
    <div [ngClass]="{'shrinkedContent': showSimulator == true, 'expandedContent': showSimulator == false}">
      Content
    </div>

  </div>
</div>