.feedContainer{
    height: 100%;
}
.feedMain{
    /* border: 1px solid red; */
    padding: 5px;
    width: 100%;
    /* margin-bottom: 50px; */
    /* border-right: 1px dashed grey; */
}
.feedSidebar{
    padding: 5px;
    /* border: 1px solid green; */
}
.sidebarCard{
    height: 100%;
    /* border: 1px solid grey; */
    position: sticky;
    top: 0;
}
.blogCard{
    margin-top: 40px;
    margin-left: 80px;
    margin-right:80px;
    /* background-color: #FFF5EE; */
}
a{
    text-decoration: none;
    color: grey;
}
