<div class="container feedContainer" fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxLayoutGap.xs="0" borderedDiv>

  <div class="item item-4 feedMain" fxFlexOffset.xs="0">

    <mat-card *ngFor="let blogCardData of blogCards" class="blogCard">
      <mat-card-content>
        <div fxLayout="column">
          <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-sm="column">
            <div style="font-weight: 800">{{blogCardData.header}}</div>
            <div style="color: gray;">{{blogCardData.caption}}</div>
          </div>
          <div style="margin: 10px;" [innerHTML]="blogCardData.summary">
            <!-- {{blogCardData.summary}} -->
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <a href="/blog/{{blogCardData.id}}">
        <button mat-icon-button>
          <mat-icon>open_in_new</mat-icon>
        </button>
        </a>
        <!-- (click)="readBlog(blogCardData.id)" -->
        <!-- <button mat-icon-button>
            <mat-icon style="color:grey;">share</mat-icon>
          </button>
          <button  mat-icon-button>
            <mat-icon style="color: grey;">thumb_up</mat-icon>
          </button> -->
      </mat-card-actions>
    </mat-card>
  </div>

  <!-- <div class="item item-5 feedSidebar" fxFlex>
      <mat-card class="sidebarCard">
        <mat-card-content>
          This is the summary of the blog. Ipsom kibarubaihsioand. adihaidhashdiahsda d,
          <a href="dadhadadd"></a>
        </mat-card-content>
      </mat-card>
    </div> -->

</div>
