<div class="appContainer">
  <header class="appHeader" fxLayout="row" fxLayout.xs = "column" fxLayoutAlign="left center">

    <div fxLayout="row" fxLayoutAlign="left center" fxFlex="80%">
      <div style="margin-left: 20px; font-weight: 400"><a routerLink="/home/">The AlgoSchool</a></div>
    </div>

    <div fxFlex="20%" fxLayout="row" fxLayoutAlign="center center">
      <a href="https://github.com/jeetendragan" target="_blank">
        <button mat-button>
            <!-- <mat-icon>mic</mat-icon> -->
            <img src="../assets/images/github-circle-white-transparent.svg">
            GitHub
        </button>
        </a>
        <a href="https://www.youtube.com/channel/UCisFDUJAVR3zpikIC4mWqCQ/about?view_as=subscriber" target="_blank">
        <button mat-button>
            <img src="../assets/images/youtube_social_circle_white.png" width="25px" height="25px">
            YouTube
        </button>
        </a>
    </div>

  </header>
  <div class="appContent">
    <router-outlet></router-outlet>
  </div>
</div>