:host
{
    box-sizing: border-box;
    display: block;
    height: 100%;
    overflow: auto;
}

.homeDiv{
    margin: 10px 5px;
    position: fixed;
    z-index: 10;
}

.blogHolder{
    margin: 40px 90px;
    /* border: 1px solid goldenrod; */
}

::-webkit-scrollbar {
    width: 5px;
}  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: firebrick; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}