/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body{
    height: 100%;
    margin: 0px auto;
    /* border: 4px solid orange; */
}
body{
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
:host{
    box-sizing: border-box;
    display: block;
    height: 100%;
}
.mat-tab-body-wrapper{
    flex-grow: 1;
}