<div style="padding: 10px; height: 100%;">

  <mat-tab-group style="height: 100%;">
    <mat-tab label="Feed">

      <!-- <ng-template mat-tab-label>
          <mat-icon>view_list</mat-icon>&nbsp;&nbsp;Feed
        </ng-template> -->

      <app-feed></app-feed>

    </mat-tab>

    <mat-tab label="About">
      <!-- <ng-template mat-tab-label>
          <mat-icon>info</mat-icon>&nbsp;&nbsp;About
        </ng-template> -->

      <mat-card class="blogCard">
        <mat-card-content>
          <div fxLayout="column">
            <div style="margin: 10px;">
              <h3>Hello, World from The AlgoSchool!</h3>
              <div>
                <p>My name is Jeetendra. I started this website to write articles about the interesting science that sorrounds us and to share my projects. I also create video tutorials from various topics in computer science. I am currently pursuing a Masters degree in Engineering (with a focus on Data Science) from
                  the University at Buffalo.
                </p>
                <p>
                  The code for this site, and all my projects is on &nbsp;
                  <a href="https://github.com/jeetendragan" target="_blank">
                    <button mat-button style="background-color: grey; color: white; font-size: x-small;
                          padding: 0 12px;">
                      <img src="../assets/images/github-circle-white-transparent.svg">
                      GitHub
                    </button>
                  </a>
                </p>

                <p>
                  Also subscribe "The AlgoSchool" on &nbsp;
                  <a href="https://www.youtube.com/channel/UCisFDUJAVR3zpikIC4mWqCQ?view_as=subscriber" target="_blank">
                    <button mat-button style="background-color: grey; color: white; font-size: x-small;
                            padding: 0 12px;">
                      <img src="../assets/images/youtube_social_circle_white.png" width="25px" height="25px">
                      YouTube
                    </button>
                  </a>
                </p>

                <hr>
                <p>
                  I am looking for internships in software development/data science roles for Summer 2020. Here's my
                  linkedin.
                  <a href="https://www.linkedin.com/in/jeetendra-gan-805b8993/" target="_blank">
                    <button mat-button style="background-color: white; color: white; font-size: x-small;
                              padding: 0 12px;">
                      <img src="../assets/images/LI-In-Bug.png" width="20px" height="20px">
                    </button>
                  </a>
                </p>
                <p>Email Address: <b>jeetendra</b> dot <b>gan</b> at <b>gmail</b> dot <b>com</b></p>
                <p>Here's my <a target="_blank" href="https://docs.google.com/document/d/1Mt1lDtc2QZuvZS1vXPqopCEoGoMu7kXn5pG9i2BmULo/edit?usp=sharing">Resume</a></p>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </mat-tab>
  </mat-tab-group>

</div>